@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

html {
    height: 100%;
    margin: 0;
}
body {
    background: #f1f1f1;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    color: #333;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #000;
    /*font-weight: bold;*/
}

h1 {
    font-weight: 300;
    font-size: 36px;
    margin: 0;
}

.contentWrap {
    height:100%;
    /*overflow: hidden;*/
}

#map-canvas {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    right: 0;
}

.container {
    height: 100%;
}

/******* 
    POST ENTRY 
******/

.left-bar {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9999;
    float: left;
    background: #fafafa;
}

.user-display {
    margin: 15px 0 30px;
}

.user-display a {
    font-size: .9rem;
    color: #1ef1f1;
    text-decoration: none;
}
.user-display span {
    display: block;
    font-weight: 500;
}

.post-bar {
    width: 90%;
    margin: 0 auto;
}

.post-bar form {
    font-size: .7rem;
    /*width: 90%;*/
    margin: 0 auto;
}
.post-bar label {
    font-size: 14px;
    font-weight: bold;
}
.post-bar form input,
.post-bar form textarea {
    background: transparent;
    width: 92%;
    padding: 5px;
    font-weight: 200;
    border: none;
    outline: none;
    font-size: 12px;
    
}
.post-bar form input {
    border-left: 1px solid #ccc;
}

.post-bar form textarea::-webkit-input-placeholder,
.post-bar form input::-webkit-input-placeholder {color:#ddd;} /* webkit */

.post-bar form textarea {
    border-bottom: 1px solid #ccc;
     resize: none; 
} 


.columns {
    width: auto;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 0px;
    column-fill: auto;
}

.user-posts {
    color: #000;
    font-size: .9rem;
    position: relative;
    float: left;
    padding: 0;
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto -55px;
}
.user-posts h1 {
    font-size: .9rem;
    font-weight: 500;
    margin: 0;
}
.user-posts li {
    background: #fefefe;
    position: relative;
    padding: 15px 15px 35px;
    list-style: none;
    width: 90%;
    margin: 7px auto;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.3);
    transition: all 1s ease;
}
.post-content {
    font-size: 1rem;
    margin: 5px 0 25px;
    font-weight: 200;
}
.post-date {
    font-size: .7rem;
}
.user-posts li a {
    font-size: .9rem;
    color: #333;
    text-decoration: none;
}
.post-details {
    position: absolute;
    /*background: #fafafa;*/
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 8px 0;
    bottom: 0;
    left: 0;
    text-align: right
}
.post-details a {
    padding:0 10px 0 0;
}


.t-bar {
    color: #f1f1f1;
    width: 100%;
    height: 55px;
    background: #000;
    position: relative;
    top: 0;
}

.logo {
    background: #1ef1f1;
    float: left;
    width: 40px;
    height: 40px;
    margin: 7px 5px 5px 10px;
}

.usr-tools {
    float: left;
    font-size: 14px;
}


/* MODAL */
.hero-unit {
    border: 1px solid #fff;
    margin: -210px 0 0 -210px;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 100px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.hero-unit h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #eaeaea;
    font-size: 60px;
    line-height: 1.2;
    padding: 10px 0;
    text-align: center;
    letter-spacing: -1px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #fff;
}

.hero-unit input {
    padding: 10px;
    font-size: 14px;
    width: 93%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

.hero-unit button {
    width: 101%;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: none;
    border-bottom-color: #b3b3b3;
}

.btn-primary {
    color: #000;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    background: #1ef1f1;
}


.modal-foot {
    border-top: 1px solid #fff;
    color: #333;
    background: #eaeaea;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.push {
    height:55px;
    margin:0;
}


@media (min-width: 600px) {
    .left-bar {
        width: 30%;
        background: #fafafa;
    }

    .user-posts {
        width: 890px;
        /*margin: 50px 35% 0 0;*/
    }

    .user-posts li {
        width: 250px;
        margin: 7px;
        display: inline-block;
    }

    .columns {
        /*width: auto;*/
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 0px;
    column-fill: auto;
    }
}






